.text{
    display: flex;
    justify-items: center;
    text-align: center;
     font-family: "Pirata One", system-ui;
     font-weight: 400;
  font-style: normal;
}
.font{
       font-family: "Pirata One", system-ui;
     font-weight: 400;
  font-style: normal;
}