@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
 font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}


html {
  overflow-y: scroll;
}

body {
  overscroll-behavior-y: none; 
}